body {
  color: white;
}
* {
  box-sizing: border-box;
}
.queue {
  min-height: 400px;
  background: #ddd;
  width: 200px;
  max-width: 300px;
  float: left;
  margin-right: 10px;
  border: 1px solid white;
}
.queue#progress {
  background: rgba(0, 0, 0, 0.1);
  border-color: orange;
}
.queue#done {
  background: rgba(0, 0, 0, 0.2);
  border-color: green;
  width: 200px;
}
.title {
  font-weight: bold;
  text-decoration: underline;
  padding: 10px;
}
.item {
  padding: 10px;
  border: 10px solid brown;
}
#instructions h1 {
  font-size: 20px;
}
#instructions li {
  margin-bottom: 5px;
}
#instructions i {
  color: grey;
}
#menu {
  width: 200px;
  margin-right: 10px;
  float: left;
  border: 1px solid white;
}
#menu .title {
  padding: 10px 10px 0;
}
#menu ul {
  padding: 10px 0;
  margin: 0;
}
#menu ul li {
  padding: 10px;
  list-style: none;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
#menu ul li:hover {
  background: brown;
  cursor: pointer;
}
#menu span {
  font-weight: bold;
  float: right;
}
